---
layout: archive
---

{{ content }}

<h1 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">About Me</h1>
<div style="font-size:var(--middle-size); text-align:justify; text-justify:inter-word">
  I am a Ph.D. Candidate in <a style="color:#1F75FE" href="https://nmsl.kaist.ac.kr">Networking & Mobile Systems Lab (NMSL)</a> 
  at <a style="color:#1F75FE" href="https://kaist.ac.kr">KAIST</a>, advised by Prof. <a style="color:#1F75FE" href="https://sites.google.com/site/wewantsj/">Sung-Ju Lee</a>. 
  I am currently working as a research intern at <a style="color:#1F75FE" href="https://www.cisco.com/">Cisco Research</a> with my mentor, <a style="color:#1F75FE" href="https://www.linkedin.com/in/myungjin-lee-5308136/">Dr. Myungjin Lee</a> from March 2023. Previously, I worked as a research intern in <!--<a style="color:A52A2A" href="https://www.microsoft.com/en-us/research/group/systems-and-networking-research-group-asia/">Systems and Networking Research Group</a> -->
  Heterogeneous and Extreme Computing (HEX) group at <a style="color:#1F75FE" href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/">Microsoft Research Asia (MSRA)</a> from December 2020 to June 2021, mentored by Dr. <a style="color:#1F75FE" href="http://yuanchun-li.github.io/">Yuanchun Li</a> and Dr. <a style="color:#1F75FE" href="https://yunxinliu.github.io/">Yunxin Liu</a>. I received my B.S. degree in Computer Science from KAIST in 2018.
  <br>
  <br>
  I work on the intersection of <b><i>Federated Learning</i></b> (FL), <b><i>mobile healthcare</i></b> (mHealth), and <b><i>systems</i></b>. I believe that FL is an essential tool to uncover novel mHealth technologies, and I focus on promoting active FL usage in mHealth application development through practical, system-based solutions.
<!--   
  My research interest lies in <i>developing and facilitating mobile AI systems for human health and well-being, mainly with the assistance of Federated Learning</i>. -->
</div>

<h1 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Publications</h1>
<b style="font-weight:800">Preprints</b>
<ul>
  <li style="font-size:var(--middle-size)"> <b> Mobile Mental Health Monitoring on Linguistic Expressions via Federated Learning </b><br><div style="font-size:var(--small-size)"><b style="font-weight:500">Jaemin Shin</b> et al.<br>(in submission)</div></li>
  <li style="font-size:var(--middle-size)"> <b> Federated Learning Operations Made Simple with Flame</b><br><div style="font-size:var(--small-size)">Harshit Daga, <b style="font-weight:500">Jaemin Shin</b>, Dhruv Garg, Ada Gavrilovska, Myungjin Lee, Ramana Rao Kompella<br>[<a href="https://arxiv.org/pdf/2305.05118v1.pdf">pdf</a>] [<a href="https://arxiv.org/abs/2305.05118v1">arxiv</a>] [<a href="https://drive.google.com/file/d/1qrEmXCLOmsYP9TAF6HtAk51tONgK0ESL/view?usp=share_link">bibtex</a>]</div></li>
</ul>
<b style="font-weight:800">Conferences and Journals</b>
<ul>
  <li style="font-size:var(--middle-size)"><b>[</b><b style="color:#1F75FE">MobiSys'22</b><b>] FedBalancer: Data and Pace Control for Efficient Federated Learning on Heterogeneous Clients</b><br><div style="font-size:var(--small-size)"><b style="font-weight:500">Jaemin Shin</b>, Yuanchun Li, Yunxin Liu, and Sung-Ju Lee<br>[<a href="https://arxiv.org/pdf/2201.01601.pdf">pdf</a>] [<a href="http://arxiv.org/abs/2201.01601">arxiv</a>] [<a href="https://t.co/hSsYYUknTH">video</a>] [<a href="https://github.com/jaemin-shin/FedBalancer">code</a>] [<a href="https://drive.google.com/file/d/1zlN6er5xOcQgiLQCHaGVGso9r5Mvm_Ms/view?usp=sharing">slides</a>] [<a href="https://drive.google.com/file/d/1oADoyuqK-3w2oaE157Ti2getmslaoRWJ/view?usp=sharing">bibtex</a>]</div></li>
  <li style="font-size:var(--middle-size)"><b>[</b><b style="color:#1F75FE">CHI'22</b><b>] MyDJ: Sensing Food Intakes with an Attachable on Your Eyeglass Frame</b><br><div style="font-size:var(--small-size)"><b style="font-weight:500">Jaemin Shin</b>, Seungjoo Lee, Taesik Gong, Hyungjun Yoon, Hyunchul Roh, Andrea Bianchi, and Sung-Ju Lee<br>[<a href="https://drive.google.com/file/d/19ifUk_PjS95-P2wFE3guDjkIyuwK0sDr/view?usp=sharing">pdf</a>] [<a href="https://nmsl.kaist.ac.kr/projects/mydj/">website</a>] [<a href="https://youtu.be/77XNl39QoEE">video</a>] [<a href="https://drive.google.com/file/d/1kelBkIMiPMN__XFj1C9-YrOfzwogK5AX/view?usp=sharing">slides</a>] [<a href="https://drive.google.com/file/d/1xBvXk93jNe89w94BdpYXyA4_elXzAmru/view?usp=sharing">bibtex</a>] (<i><b style="color:#1F75FE">Best Paper Honorable Mention Award</b></i>)</div></li>
  <li style="font-size:var(--middle-size)"><b>[</b><b style="color:#1F75FE">Ad Hoc Networks'19</b><b>] Use MU-MIMO at Your Own Risk - Why We Don't Get Gb/s Wi-Fi</b><br><div style="font-size:var(--small-size)">Hyunwoo Choi, Taesik Gong, Jaehun Kim, <b style="font-weight:500">Jaemin Shin</b>, and Sung-Ju Lee<br>[<a href="https://drive.google.com/file/d/1HIQ4dGDcHuk83XHPA09_w7T1NJuNKXxt/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/1KFtXC0fflkBLnyV85UjSAXce9MZFlrl5/view?usp=sharing">bibtex</a>]</div></li>
</ul>
<b style="font-weight:800">Posters, Demos, and Workshop Papers</b>
<ul>
  <li style="font-size:var(--middle-size)"><b>[</b><b style="color:#1F75FE">MobiSys'19 Demo</b><b>] Accurate Eating Detection on a Daily Wearable Necklace</b><br><div style="font-size:var(--small-size)"><b style="font-weight:500">Jaemin Shin</b>, Seungjoo Lee, and Sung-Ju Lee<br>[<a href="https://drive.google.com/file/d/1kE9v52wG22_bDAgvMpAnwAq-i7qFHiYO/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/1QqND3k6JPTTwnWnnY_s1_KnYCwu0ksjB/view?usp=sharing">bibtex</a>]</div></li>
  <li style="font-size:var(--middle-size)"><b>[</b><b style="color:#1F75FE">MobiSys'19 Poster</b><b>] Dissecting 802.11ac Performance-Why You Should Turn Off MU-MIMO</b><br><div style="font-size:var(--small-size)">Hyunwoo Choi, Taesik Gong, Jaehun Kim, <b style="font-weight:500">Jaemin Shin</b>, and Sung-Ju Lee<br>[<a href="https://drive.google.com/file/d/1Q8h376wVqnK7MUboGt7WLT25dhBj_iuB/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/1jrqJDjUAZNHS6M7aUuNPPAZc-auxFku2/view?usp=sharing">bibtex</a>]</div></li>
  <li style="font-size:var(--middle-size)"><b>[</b><b style="color:#1F75FE">CAN'17</b><b>] Considerations on Deploying High-Performance Container-based NFV</b><br><div style="font-size:var(--small-size)">*DeokGi Hong, *<b style="font-weight:500">Jaemin Shin</b>, Shinae Woo, and Sue Moon (* equal contributions)<br>[<a href="https://drive.google.com/file/d/1YyztEFwVipaqP5TAtpDPnOrXDcQ8tnQV/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/10cM6-A4gvgWCgyw8RwMF95jfBnhx8Akq/view?usp=sharing">bibtex</a>] (<b style="color:#1F75FE"><i>Best Paper Award</i></b>)</div></li>
</ul>

<h3 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Work Experiences</h3>
<ul>
  <li style="font-size:var(--middle-size)"><b>Cisco Research</b>, Seattle, WA.
    <ul>
      <li>Research Intern, 2023.03-2023.08</li>
    </ul>
  </li>
  <li style="font-size:var(--middle-size)"><b>Microsoft Research Asia</b>, Beijing, China.
    <ul>
      <li>Research Intern, 2020.12-2021.06</li>
    </ul>
  </li>
</ul>

<!-- <h1 style="font-size:1.2em" class="archive__subtitle">Awards</h1> -->
<h3 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Honors and Awards</h3>
<ul>
  <li style="font-size:var(--middle-size)"><b>Naver Ph.D. Fellowship</b>, 2022</li>
  <li style="font-size:var(--middle-size)"><b>Best Paper Honorable Mention Award</b>, ACM CHI, 2022</li>
  <li style="font-size:var(--middle-size)"><b>Best Paper Award</b>, CAN Workshop co-located with ACM CoNEXT, 2017</li>
</ul>

<!-- <h1 style="font-size:1.2em" class="archive__subtitle">Awards</h1> -->
<h3 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Professional Services</h3>
<ul>
  <li style="font-size:var(--middle-size)">Reviewer, ACM IMWUT/Ubicomp, 2020-2022</li>
  <li style="font-size:var(--middle-size)">Reviewer, IEEE Transactions on Mobile Computing, 2018, 2023</li>
</ul>


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
