---
layout: archive
---

{{ content }}

<h1 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">About Me</h1>
<div style="font-size:var(--middle-size);font-weight:400;text-align:justify; text-justify:inter-word">
  I am a Ph.D. graduate from KAIST Computer Science, advised by <a style="color:#000000" href="https://sites.google.com/site/wewantsj/">Prof. Sung-Ju Lee</a>. I have also closely collaborated with Prof. <a style="color:#000000" href="https://yunxinliu.github.io/">Yunxin Liu</a>.
  <!-- I worked as a research intern at <a style="color:#1F75FE" href="https://www.cisco.com/">Cisco Research</a> with my mentor, <a style="color:#1F75FE" href="https://www.linkedin.com/in/myungjin-lee-5308136/">Dr. Myungjin Lee</a> from March 2023 to August 2023. Previously, I worked as a research intern at <a style="color:A52A2A" href="https://www.microsoft.com/en-us/research/group/systems-and-networking-research-group-asia/">Systems and Networking Research Group</a> -->
  <!-- Heterogeneous and Extreme Computing (HEX) group at-->
  <!-- <a style="color:#1F75FE" href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/">Microsoft Research Asia (MSRA)</a> from December 2020 to June 2021, mentored by Dr. <a style="color:#1F75FE" href="http://yuanchun-li.github.io/">Yuanchun Li</a> and Dr. <a style="color:#1F75FE" href="https://yunxinliu.github.io/">Yunxin Liu</a>.  -->
  <!-- I worked as an intern at <a style="color:#1F75FE" href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/">Microsoft Research Asia (MSRA)</a>, <a style="color:#1F75FE" href="https://www.cisco.com/">Cisco Research</a>, and <a style="color:#1F75FE" href="https://www.oracle.com/">Oracle</a>. -->
  I received my B.S. degree in Computer Science from KAIST in 2018.
  <br>
  <br>
  I research on the intersection of <b><i>Privacy-Preserving ML - Federated Learning (FL)</i></b> and <b><i>on-device NLP</i></b>, uncovering novel <b><i>applied machine learning</i></b> technologies on smartphones and wearables. My research also focuses on promoting <b><i>efficient AI</i></b> deployment in practice via system-based algorithmic approaches. 
  <!-- I work on the intersection of <b><i>Applied Machine Learning</i></b>, <b><i>Mobile Computing</i></b>, and <b><i>Systems</i></b>. I especially focus on <b><i>Federated Learning (FL)</i></b> to uncover novel AI applications, applying state-of-the-art Natural Language Processing techniques and foundation models on edge environments.
  and work on promoting active FL usage in mobile environment through practical, system-based solutions. I a -->
  <!-- I work on the intersection of <b><i>Federated Learning</i></b> (FL), <b><i>mobile healthcare</i></b> (mHealth), and <b><i>systems</i></b>. I believe that FL is an essential tool to uncover novel mHealth technologies, and I focus on promoting active FL usage in mHealth application development through practical, system-based solutions. -->
<!--   
  My research interest lies in <i>developing and facilitating mobile AI systems for human health and well-being, mainly with the assistance of Federated Learning</i>. -->
  <br>
  <br>
  <!-- <div style="color:#A52A2A"><b>I am in the industrial job market! </b> Here is my <a href="https://drive.google.com/file/d/1gwIYF8JFBaAzqQ5VfG3P9AHXAFi-FHGd/view?usp=sharing">resume</a>. Please feel free to contact me for any potential opportunities.</div> -->
  <div>Here is my <a style="color:#000000" href="https://drive.google.com/file/d/1gwIYF8JFBaAzqQ5VfG3P9AHXAFi-FHGd/view?usp=sharing">resume</a>.</div>
</div>

<h3 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Work Experiences</h3>
<ul>
  <li style="font-size:var(--middle-size)"><b>Cisco Research</b>, PhD Software Engineer Intern
    <ul>
      <li>Mar. 2023 - Aug. 2023</li>
      <li>Mentor: <a style="color:#000000" href="https://www.linkedin.com/in/myungjin-lee-5308136/">Myungjin Lee</a></li>
    </ul>
  </li>
  <li style="font-size:var(--middle-size)"><b>Microsoft Research</b>, PhD Research Intern
    <ul>
      <li>Dec. 2020 - Jun. 2021</li>
      <li>Mentors: <a style="color:#000000" href="http://yuanchun-li.github.io/">Yuanchun Li</a> and <a style="color:#000000" href="https://yunxinliu.github.io/">Yunxin Liu</a></li>
    </ul>
  </li>
  <li style="font-size:var(--middle-size)"><b>Oracle</b>, Software Engineer Intern
    <ul>
      <li>Jun. 2017 - Aug. 2017</li>
      <li>Mentors: Jungnam Lee and Chris Lee
    </ul>
  </li>
</ul>

<h3 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Education</h3>
<ul>
  <li style="font-size:var(--middle-size)"><b>Ph.D. in Computer Science, KAIST</b></a>
    <ul>
      <li>Mar. 2018 - Aug. 2024</li>
      <li><a style="color:#000000" href="https://nmsl.kaist.ac.kr/">Networking & Mobile Systems Lab</a> (Advisor: Prof. Sung-Ju Lee)</li>
    </ul>
  </li>
  <li style="font-size:var(--middle-size)"><b>B.S. in Computer Science, KAIST</b>
    <ul>
      <li>Mar. 2014 - Feb. 2018</li>
    </ul>
  </li>
</ul>

<h1 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Publications</h1>
<b style="font-weight:800">Preprints</b>
<ul>
  <li>
    <div style="font-size:var(--middle-size)"><b>Time and Resource Efficiency Analysis on Synchronous and Asynchronous Federated Learning</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm"><b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b> et al.</div>
    <!-- <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://arxiv.org/pdf/2310.16538.pdf">pdf</a>] [<a href="https://nmsl.kaist.ac.kr/projects/fedtherapist/">website</a>] [video] [slides] [bibtex]</div> -->
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><b>in submission</b></div>
  </li>
  <li>
    <div style="font-size:var(--middle-size)"><b>Not All Federated Learning Algorithms Are Created Equal: A Performance Evaluation Study</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm">G. A. Baumgart, <b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, A. Payani, M. Lee, R. R. Kompella</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://arxiv.org/pdf/2403.17287.pdf">pdf</a>] [<a href="https://drive.google.com/file/d/1NhY1kVbNhdxv5RLSeVj6ndwL5A_IAau5/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><b>arXiv preprint</b></div>
  </li>
  <li>
    <div style="font-size:var(--middle-size)"><b>Federated Learning with Incomplete Sensing Modalities</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm">A. Orzikulova, J. Kwak, <b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, S-J. Lee</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://arxiv.org/pdf/2405.11828.pdf">pdf</a>] [<a href="https://drive.google.com/file/d/1aAUqcUhHGbAx54fgHUG7j90FFg-watGw/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><b>arXiv preprint</b></div>
  </li>
</ul>
<b style="font-weight:800">Conferences and Journals</b>
<ul>
  <li>
    <div style="font-size:var(--middle-size)"><b>FedTherapist: Mental Health Monitoring with User-Generated Linguistic Expressions on Smartphones via Federated Learning</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm"><b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, H. Yoon, S. Lee, S. Park, Y. Liu, J. D. Choi, S-J. Lee</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://aclanthology.org/2023.emnlp-main.734.pdf">pdf</a>] [<a href="https://nmsl.kaist.ac.kr/projects/fedtherapist/">website</a>] [<a href="https://youtu.be/59v3iETKoiY">video</a>] [<a href="https://drive.google.com/file/d/1MvQ7cYbuRL5q7k-dqs4SS2mWtZNpXnrJ/view?usp=sharing">slides</a>] [<a href="https://drive.google.com/file/d/103f6Fy0brTT1haBcx8NZvrhz3Fi4QAI8/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><SPAN><b>EMNLP 2023</b></SPAN></div>
  </li>
  <li style="margin-top:0.5cm">
    <div style="font-size:var(--middle-size)"><b>Flame: Simplifying Topology Extension in Federated Learning</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm">H. Daga, <b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, D. Garg, A. Gavrilovska, M. Lee, R. R. Kompella</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://arxiv.org/pdf/2305.05118v1.pdf">pdf</a>] [<a href="https://drive.google.com/file/d/1Zat6neUj5ry5xHFsDGmlnGXg6VjCUfq9/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><SPAN><b>SoCC 2023</b></SPAN></div>
  </li>
  <li style="margin-top:0.5cm">
    <div style="font-size:var(--middle-size)"><b>FedBalancer: Data and Pace Control for Efficient Federated Learning on Heterogeneous Clients</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm"><b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, Y. Li, Y. Liu, and S-J. Lee</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://arxiv.org/pdf/2201.01601.pdf">pdf</a>] [<a href="https://nmsl.kaist.ac.kr/projects/fedbalancer/">website</a>]  [<a href="https://t.co/hSsYYUknTH">video</a>] [<a href="https://github.com/jaemin-shin/FedBalancer">code</a>] [<a href="https://drive.google.com/file/d/1zlN6er5xOcQgiLQCHaGVGso9r5Mvm_Ms/view?usp=sharing">slides</a>] [<a href="https://drive.google.com/file/d/1oADoyuqK-3w2oaE157Ti2getmslaoRWJ/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><SPAN><b>MobiSys 2022</b></SPAN></div>
  </li>
  <li style="margin-top:0.5cm">
    <div style="font-size:var(--middle-size)"><b>MyDJ: Sensing Food Intakes with an Attachable on Your Eyeglass Frame</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm"><b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, S. Lee, T. Gong, H. Yoon, H. Roh, A. Bianchi, and S-J. Lee</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://drive.google.com/file/d/19ifUk_PjS95-P2wFE3guDjkIyuwK0sDr/view?usp=sharing">pdf</a>] [<a href="https://nmsl.kaist.ac.kr/projects/mydj/">website</a>] [<a href="https://youtu.be/77XNl39QoEE">video</a>] [<a href="https://drive.google.com/file/d/1kelBkIMiPMN__XFj1C9-YrOfzwogK5AX/view?usp=sharing">slides</a>] [<a href="https://drive.google.com/file/d/1xBvXk93jNe89w94BdpYXyA4_elXzAmru/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><SPAN><b>CHI 2022</b></SPAN> <b style="color:#A52A2A;margin-left:0.3cm">Best Paper Honorable Mention Award 🏆</b></div>
  </li>
  <li style="margin-top:0.5cm">
    <div style="font-size:var(--middle-size)"><b>Use MU-MIMO at Your Own Risk - Why We Don't Get Gb/s Wi-Fi</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm">H. Choi, T. Gong, J. Kim, <b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, and S-J. Lee</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://drive.google.com/file/d/1HIQ4dGDcHuk83XHPA09_w7T1NJuNKXxt/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/1KFtXC0fflkBLnyV85UjSAXce9MZFlrl5/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><SPAN><b>Ad Hoc Networks 2019</b></SPAN></div>
  </li>
</ul>
<b style="font-weight:800">Posters, Demos, and Workshop Papers</b>
<ul>
  <li>
    <div style="font-size:var(--middle-size)"><b>Demo: Accurate Eating Detection on a Daily Wearable Necklace</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm"><b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, S. Lee, and S-J. Lee</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://drive.google.com/file/d/1kE9v52wG22_bDAgvMpAnwAq-i7qFHiYO/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/1QqND3k6JPTTwnWnnY_s1_KnYCwu0ksjB/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><SPAN><b>MobiSys 2019</b></SPAN></div>
  </li>
  <li style="margin-top:0.5cm">
    <div style="font-size:var(--middle-size)"><b>Poster: Dissecting 802.11ac Performance-Why You Should Turn Off MU-MIMO</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm">H. Choi, T. Gong, J. Kim, <b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, and S-J. Lee</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://drive.google.com/file/d/1Q8h376wVqnK7MUboGt7WLT25dhBj_iuB/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/1jrqJDjUAZNHS6M7aUuNPPAZc-auxFku2/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><SPAN><b>MobiSys 2019</b></SPAN></div>
  </li>
  <li style="margin-top:0.5cm">
    <div style="font-size:var(--middle-size)"><b>Considerations on Deploying High-Performance Container-based NFV</b></div>
    <div style="font-size:var(--middle-size);margin-top:0.1cm">*D. Hong, *<b style="font-weight:500;text-decoration: underline;text-underline-offset: 2px">Jaemin Shin</b>, S. Woo, and S. Moon (* equal contributions)</div>
    <div style="font-size:var(--small-size);margin-top:0.1cm">[<a href="https://drive.google.com/file/d/1YyztEFwVipaqP5TAtpDPnOrXDcQ8tnQV/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/10cM6-A4gvgWCgyw8RwMF95jfBnhx8Akq/view?usp=sharing">bibtex</a>]</div>
    <div style="font-size:var(--largemiddle-size);margin-top:0.2cm;color:#000000"><SPAN><b>CAN 2017</b></SPAN> <b style="color:#A52A2A;margin-left:0.3cm">Best Paper Award 🏆</b></div>
  </li>
</ul>

<!-- <h1 style="font-size:1.2em" class="archive__subtitle">Awards</h1> -->
<h3 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Honors and Awards</h3>
<ul>
  <li style="font-size:var(--middle-size)"><b>KAIST Breakthroughs</b>, 2024 Spring</li>
  <li style="font-size:var(--middle-size)"><b>Naver Ph.D. Fellowship</b>, 2022</li>
  <li style="font-size:var(--middle-size)"><b>Best Paper Honorable Mention Award</b>, ACM CHI, 2022</li>
  <li style="font-size:var(--middle-size)"><b>Best Paper Award</b>, CAN Workshop co-located with ACM CoNEXT, 2017</li>
</ul>

<!-- <h1 style="font-size:1.2em" class="archive__subtitle">Awards</h1> -->
<h3 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Professional Services</h3>
<ul>
  <li style="font-size:var(--middle-size)">Reviewer, ACM IMWUT/UbiComp 2020 - 2023
    <!-- <ul>
      <li>Reviewer | 2020-2022</li>
    </ul> -->
  </li>
  <li style="font-size:var(--middle-size)">Reviewer, IEEE TMC 2018, 2022 - 2023
    <!-- <ul>
      <li>Reviewer | 2018, 2022-2023</li>
    </ul> -->
  </li>
  <li style="font-size:var(--middle-size)">Reviewer, IEEE TNNLS 2024
    <!-- <ul>
      <li>Reviewer | 2024</li>
    </ul> -->
  </li>
  <li style="font-size:var(--middle-size)">Reviewer, ACM CHI LBW 2024
  </li>
</ul>

<!-- <h1 style="font-size:1.2em" class="archive__subtitle">Awards</h1> -->
<h3 style="font-size:var(--large-size);font-weight:900" class="archive__subtitle">Miscellaneous</h3>
<ul>
  <li style="font-size:var(--middle-size)">I love playing double reed instruments. I have performed in 20+ amateur orchestra performances and am still looking for opportunities to play. :)</li>
</ul>
<!-- <div style="display: flex; justify-content: space-between;"> -->
<div style="display: flex;">
  <img src="assets/images/bassoon_1.jpg" alt="Description of Image 1" style="width: 25%;">
  <img src="assets/images/bassoon_2.jpg" alt="Description of Image 2" style="width: 25%;">
  <img src="assets/images/oboe_1.jpg" alt="Description of Image 3" style="width: 25%;">
  <img src="assets/images/oboe_2.jpg" alt="Description of Image 3" style="width: 25%;">
</div>


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
