---
layout: archive
---

{{ content }}

<h1 style="font-size:1.2em" class="archive__subtitle">About me</h1>
<div style="font-size:0.81em; text-align:justify; text-justify:inter-word">
  I am a Ph.D. student in <a style="color:black" href="https://nmsl.kaist.ac.kr">Networking & Mobile Systems Lab (NMSL)</a> at <a style="color:black" href="https://kaist.ac.kr">KAIST</a>, advised by Prof. <a style="color:black" href="https://sites.google.com/site/wewantsj/">Sung-Ju Lee</a>. My research interest lies in developing and facilitating mobile and wearable AI systems for human health and well-being.
  <br>
  <br>
  I received my B.S. degree in Computer Science from KAIST in 2018. I worked as a research intern in <!--<a style="color:black" href="https://www.microsoft.com/en-us/research/group/systems-and-networking-research-group-asia/">Systems and Networking Research Group</a> -->
  Heterogeneous and Extreme Computing (HEX) group at <a style="color:black" href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/">Microsoft Research Asia (MSRA)</a> from December 2020 to June 2021, mentored by Dr. <a style="color:black" href="http://yuanchun-li.github.io/">Yuanchun Li</a> and Dr. <a style="color:black" href="https://yunxinliu.github.io/">Yunxin Liu</a>. At MSRA, I worked on a project that proposes a systematic approach for efficient federated learning on heterogeneous mobile clients.
</div>

<h1 style="font-size:1.2em" class="archive__subtitle">Publications</h1>
<!-- <b>Preprints</b>
<ul>
  <li style="font-size:0.85em"> <b>[</b><b style="color:#A52A2A">arXiv'22</b><b>] Sample Selection with Deadline Control for Efficient Federated Learning on Heterogeneous Clients</b><br><div style="font-size:0.8em"><u>Jaemin Shin</u>, Yuanchun Li, Yunxin Liu, and Sung-Ju Lee<br>[<a href="https://arxiv.org/pdf/2201.01601.pdf">pdf</a>] [<a href="http://arxiv.org/abs/2201.01601">arxiv</a>] [<a href="https://drive.google.com/file/d/1Lbz-3QDjHNhLpbcq5eAAMSIbnbSRcQ1J/view?usp=sharing">bibtex</a>]</div></li>
</ul> -->
<b>Conferences and Journals</b>
<ul>
  <li style="font-size:0.85em"> <b>[</b><b style="color:#A52A2A">MobiSys'22</b><b>] FedBalancer: Data and Pace Control for Efficient Federated Learning on Heterogeneous Clients</b><br><div style="font-size:0.8em"><u>Jaemin Shin</u>, Yuanchun Li, Yunxin Liu, and Sung-Ju Lee<br>[<a href="https://arxiv.org/pdf/2201.01601.pdf">pdf</a>] [<a href="http://arxiv.org/abs/2201.01601">arxiv</a>] [<a href="https://drive.google.com/file/d/1Lbz-3QDjHNhLpbcq5eAAMSIbnbSRcQ1J/view?usp=sharing">bibtex</a>] (<i>conditionally accepted</i>)</div></li>
  <li style="font-size:0.85em"><b>[</b><b style="color:#A52A2A">CHI'22</b><b>] MyDJ: Sensing Food Intakes with an Attachable on Your Eyeglass Frame</b><br><div style="font-size:0.8em"><u>Jaemin Shin</u>, Seungjoo Lee, Taesik Gong, Hyungjun Yoon, Hyunchul Roh, Andrea Bianchi, and Sung-Ju Lee<br>[<a href="https://drive.google.com/file/d/19ifUk_PjS95-P2wFE3guDjkIyuwK0sDr/view?usp=sharing">pdf</a>] [<a href="https://nmsl.kaist.ac.kr/projects/mydj/">website</a>] [<a href="https://youtu.be/77XNl39QoEE">video</a>] [slides] [bibtex] (<i><b style="color:#A52A2A">Honorable Mentions Award</b></i>)</div></li>
  <li style="font-size:0.85em"><b>[</b><b style="color:#A52A2A">Ad Hoc Networks'19</b><b>] Use MU-MIMO at Your Own Risk - Why We Don't Get Gb/s Wi-Fi</b><br><div style="font-size:0.8em">Hyunwoo Choi, Taesik Gong, Jaehun Kim, <u>Jaemin Shin</u>, and Sung-Ju Lee<br>[<a href="https://drive.google.com/file/d/1HIQ4dGDcHuk83XHPA09_w7T1NJuNKXxt/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/1KFtXC0fflkBLnyV85UjSAXce9MZFlrl5/view?usp=sharing">bibtex</a>]</div></li>
</ul>
<b>Posters, Demos, and Workshop Papers</b>
<ul>
  <li style="font-size:0.85em"><b>[</b><b style="color:#A52A2A">MobiSys'19</b><b>] Demo: Accurate Eating Detection on a Daily Wearable Necklace</b><br><div style="font-size:0.8em"><u>Jaemin Shin</u>, Seungjoo Lee, and Sung-Ju Lee<br>[<a href="https://drive.google.com/file/d/1kE9v52wG22_bDAgvMpAnwAq-i7qFHiYO/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/1QqND3k6JPTTwnWnnY_s1_KnYCwu0ksjB/view?usp=sharing">bibtex</a>]</div></li>
  <li style="font-size:0.85em"><b>[</b><b style="color:#A52A2A">MobiSys'19</b><b>] Poster: Dissecting 802.11ac Performance-Why You Should Turn Off MU-MIMO</b><br><div style="font-size:0.8em">Hyunwoo Choi, Taesik Gong, Jaehun Kim, <u>Jaemin Shin</u>, and Sung-Ju Lee<br>[<a href="https://drive.google.com/file/d/1Q8h376wVqnK7MUboGt7WLT25dhBj_iuB/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/1jrqJDjUAZNHS6M7aUuNPPAZc-auxFku2/view?usp=sharing">bibtex</a>]</div></li>
  <li style="font-size:0.85em"><b>[</b><b style="color:#A52A2A">CAN'17 @ CoNEXT</b><b>] Considerations on Deploying High-Performance Container-based NFV</b><br><div style="font-size:0.8em">*DeokGi Hong, *<u>Jaemin Shin</u>, Shinae Woo, and Sue Moon (* equal contributions)<br>[<a href="https://drive.google.com/file/d/1YyztEFwVipaqP5TAtpDPnOrXDcQ8tnQV/view?usp=sharing">pdf</a>] [<a href="https://drive.google.com/file/d/10cM6-A4gvgWCgyw8RwMF95jfBnhx8Akq/view?usp=sharing">bibtex</a>] (<b style="color:#A52A2A"><i>Best Paper Award</i></b>)</div></li>
</ul>

<!-- <h1 style="font-size:1.2em" class="archive__subtitle">Awards</h1> -->
<h3 style="font-size:1.2em" class="archive__subtitle">Honors and Awards</h3>
<ul>
  <li style="font-size:0.85em">Honorable Mentions Award @ <i>ACM CHI</i>, 2022</li>
  <li style="font-size:0.85em">Best Paper Award @ <i>CAN Workshop co-located with ACM CoNEXT</i>, 2017</li>
</ul>

<!-- <h1 style="font-size:1.2em" class="archive__subtitle">Awards</h1> -->
<h3 style="font-size:1.2em" class="archive__subtitle">Professional Services</h3>
<ul>
  <li style="font-size:0.85em">Reviewer @ <i>ACM IMWUT</i>, 2020-2021</li>
  <li style="font-size:0.85em">Reviewer @ <i>IEEE Transactions on Mobile Computing</i>, 2018</li>
</ul>


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
